<div class="modal-header">
    <h4 class="modal-title">Confirm</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-1">
                <i class="fa fa-question-circle" style="font-size: 30px;"></i>
            </div>
            <div class="col-md-10">
                <label style="font-size: 20px;">{{msg}}</label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-info" ng-click="ok()">
        <i class="fa fa-cloud-upload"></i> Ok
    </button>
    <button class="btn btn-danger" ng-click="cancel()">
        <i class="fa fa-cloud-upload"></i> Cancel
    </button>
</div> 